# Environnements virtuels
venv/
.env/

# Fichiers Python compilés
__pycache__/
*.pyc

# Dossiers de build (PyInstaller ou setup)
build/
dist/
*.spec

# Données sensibles / modèles AI
*.log
logs/
*.csv

# Fichiers systèmes
.DS_Store
*.swp
